#housedetailbg
  .content
#housedetail
  .content
    = link_to "X", "#", id: "detail-close"
    #detail-template

#container
  #mainContent
    #header
      %h1
        House Voting
    #login
      = link_to "Login", "#", id: "fb-login"
      %p
        Which houses would you want to stay in this summer?
    #subtitle
      %p
        Drag the houses around to make your selections.
    #save
    #selector
      %ol#selections
        %li#vote1
          .pedestal
          %h2 First Choice
          %p.instructions
            drag your favorite house into this box, 3 points
        %li#vote2
          .pedestal
          %h2 Second Choice
          %p.instructions
            drag your second favorite house into this box, 2 points
        %li#vote3
          .pedestal
          %h2 Third Choice
          %p.instructions
            drag your third favorite house into this box, 1 point
      #choices
        .clearer
    #nav
      %h2
        The Results
      %ul
        %li
          = link_to "Refresh Results", "#", id: "results-refresh"
    #results
      .graph
        .y-axis
          .notch
            100%
          .sub-notch
          .notch
            75%
          .sub-notch
          .notch
            50%
          .sub-notch
          .notch
            25%
          .sub-notch
          .notch
            0%
    #friend-nav
      %h2
        Your Friends
      %ul
        %li
          = link_to "See How Your Friends Voted", "#", id: "friends-refresh"
    #friend-results

    #footer
      %p